body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.navbar{
  background-color: #000000 !important;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.navbar-content-container{
  width: 85%;
}

.nav-link{
  color: #E8F9FD;
  font-family: 'Lato', sans-serif;
}

.nav-link:active{
  text-decoration: none;
}

.nav-link:hover{
  color: #59CE8F;
}

.nav-link:focus{
  color: #E8F9FD;;
}

.media-icon{
  font-size: 1.5rem;
}

.media-link{
  display: inline-block;
}

@media(max-width:991px){
  .media-link{
      padding-right: 3.5%;
  }
}

.fa-bars{
  color: #E8F9FD;
}

.btn-close{
  opacity: 1;
}

.mobile-logo{
  display:none;
  width: 60px;
}

.desktop-logo{
  width: 80px;
}

@media(max-width: 991px){
  .mobile-logo{
      display: inline;
  }

  .desktop-logo{
      display: none;
  }
}

.offcanvas.offcanvas-end{
  width: 100%;
  background-color: #000000;
  transition: transform 0.15s ease-in-out;
}
  

.offcanvas-header{
  width: 80%;
}

.offcanvas-body{
  width: 80%;
}

.dropdown-menu{
  background-color:rgba(0,0,0, .7);
}

.main-heading{
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}




.signup-form-heading-container{
  text-align: center;
  padding: 20% 5% 10%;
  background-image: url('../images/toxix fitness texture_4.jpg');
  background-size: cover;
}

@media(max-width: 991px){
  .signup-form-heading-container{
    padding: 25% 5% 10%;
  }
}

.heading-logo{
  width: 75%;
  margin: auto;
}



.sign-up-form-heading{
  padding: 5% 15% 1%;
  text-align: center;
  background-color: #000000;
}


/* Sign-Up Section */



.sign-up-form{
  padding: 5% 30% 5%;
  background-color: #000000;
}


.form-label{
  color: #ffffff;
}


.contact-section{
  padding: 2.5%;
  background-color: #A2FF86;
}

#contact-header{
  text-align: center;
  padding-bottom: 2.5%;
  font-weight: 700;
  font-style: italic;
}

.contact-row{
  padding-bottom:15%;
}

.map{
  width: 100%;
  height: 100%;
  

}

.map-container{
  width: 100%;
  height:225px;
  margin:  auto;
  
}

.contact-details{
  font-size:1.125rem;
  text-align: left;
  width: 75%;
  margin: auto;
  padding-bottom: 5%;
  
}

@media(max-width: 991px){

  .contact-details{
      font-size:1.25rem;
      text-align: center;
      padding-bottom: 2.5%;
      width: 100%;
  }
}

@media(max-width: 768px){
  .contact-details{
      font-size:1rem;
  }

  .contact-section{
      padding: 5%;
      background-color: #A2FF86;
  }
}

@media(max-width: 576px){
  .contact-details{
      font-size: 1rem;
  }
}

.animated{
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated.visible {
  opacity: 1;
  transform: translateX(0);
}

.name{
  font-weight: 700;
  font-style: italic;
}

.send-button{
  margin-top: 5%;
  font-size: 1.25rem;
  font-weight: 700;
}

.footer-section{
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  padding: 1.5% 0;
  font-size: .85rem;
  width: 100%;
  
}

.footer-logo{
  width: 150px;
  /* text-align: center; */
}

.footer-logo-container{
  text-align: center;
}

.footer-copyright{
  padding: 5px 5%;
  text-align: left;
  margin: 0;
}

.footer-link{
  font-size: 1rem;
  padding: 0 1%;
  display: inline-block;
}

.footer-links{
  text-align: right;
  padding: 0 5%;
}

.footer-logo-container-mobile{
  display: none;
}

@media(max-width: 991px){

  .footer-logo-container-mobile{
    display: block;
    text-align: center;
  }

  .footer-logo-container{
    display: none;
  }

  .footer-copyright{
    text-align: center;
  }

  .footer-links{
    text-align: center;
  }
}