body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}

/* #title{
    height: 80%;
} */

.navbar{
    background-color: #000000;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar-content-container{
    width: 85%;
}

.nav-link{
    color: #E8F9FD;
    font-family: 'Oswald', sans-serif;
}

.nav-link:active{
    text-decoration: none;
}

.nav-link:hover{
    color: #59CE8F;
}

.nav-link:focus{
    color: #E8F9FD;;
}

.fa-bars{
    color: #E8F9FD;
}

.btn-close{
    opacity: 1;
}

.mobile-logo{
    display:none;
    width: 160px;
}

.desktop-logo{
    width: 213px;
}

@media(max-width: 991px){
    .mobile-logo{
        display: inline;
    }

    .desktop-logo{
        display: none;
    }
}

.offcanvas.offcanvas-end{
    width: 100%;
    background-color: #000000;
    transition: transform 0.15s ease-in-out;
}
    

.offcanvas-header{
    width: 80%;
}

.offcanvas-body{
    width: 80%;
}

.barbell-lift{
    width: 75%;
}

.heading-container{
    padding: 220px 8% 5%;
    text-align: center;
    background-color:#59CE8F;
    font-family: 'Oswald', sans-serif;
    /* height: 100%; */
    height: 900px;
    background-image: url('../images/background2.png');
    background-size: cover;
    background-position: center center;
}

.main-heading{
    padding: 0 0 2.5%;
}

@media(max-width:991px){
    .heading-container{
        padding-top: 90px;
    }
}

.our-mission{
    padding: 2.5% 1.5%;
    text-align: center;
}

.mission-statement{
    text-align: center;
    padding: 25px;
    border-style: solid;
}

.mission-statement:hover, .info-slide:active{
    background-color:#92cdda;
}

.mission-icon{
    display: block;
    margin: auto;
}

#mission{
    background-color: #E8F9FD;
    color: #000000;
}

.mission-col{
    padding: 0 2.5%;
}

@media(max-width:991px){
    .mission-col{
        padding: 0 25%;
    }
}

.contact-section{
    padding: 5%;
    background-color: #59CE8F;
}

#contact-header{
    text-align: center;
    padding-bottom: 5%;
}

.map-container{
    width: 80%;
    height: 100%;
    margin: auto;
}

.contact-details{
    font-size:1.4rem;
    text-align: left;
    width: 75%;
    margin: auto;
}

@media(max-width: 991px){
    .contact-details{
        font-size:1.25rem;
        text-align: center;
        padding-bottom: 2.5%;
    }

    .map-container{
        width: 75%;
        height:75%;
        margin:auto;
    }
}

/* @media(max-width: 768px){
    .contact-details{
        font-size:.70rem;
        width: 75%;
        margin: auto;
    }
} */


