body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', sans-serif;
}

/* #title{
    height: 80%;
} */

.navbar{
    background-color: #000000;
}

.navbar-content-container{
    width: 85%;
}

.nav-link{
    color: #E8F9FD;
    font-family: 'Roboto Mono', sans-serif;
}

.nav-link:hover{
    color: #59CE8F;
}

.fa-bars{
    color: #E8F9FD;
}

.btn-close{
    opacity: 1;
}

.mobile-logo{
    display:none;
}

@media(max-width: 991px){
    .mobile-logo{
        display: inline;
    }

    .desktop-logo{
        display: none;
    }
}

.offcanvas.offcanvas-end{
    width: 100%;
    background-color: #000000;
    transition: transform 0.15s ease-in-out;
}
    

.offcanvas-header{
    width: 80%;
}

.barbell-lift{
    width: 100%;
}

.heading-container{
    padding: 220px 5% 5%;
    text-align: center;
    background-color:#59CE8F;
    font-family: 'Roboto Mono', sans-serif;
    height: 100%;
}

@media(max-width:991px){
    .heading-container{
        padding-top: 100px;
    }
}

.our-mission{
    padding: 1.5%;
    text-align: center;
}

.mission-statement{
    text-align: center;
    padding: 25px;
    border-style: solid;
}

.mission-statement:hover{
    background-color:#92cdda;
}

.mission-icon{
    display: block;
    margin: auto;
}

#mission{
    background-color: #E8F9FD;
    color: #000000;
    height: 100%;
}

.mission-col{
    padding: 0 2.5%;
}

@media(max-width:991px){
    .mission-col{
        padding: 0 25%;
    }
}


